<h1 class="product-title">Product : Nice dress for all ocassions !</h1>
<div class="product-spec">
    <label for="dpr-size">Size:</label>
    <select id="dpr-size">
        {{#sizes}}
            <option value="{{code}}">{{name}}</option>
        {{/sizes}}
    </select>
</div>
<div class="product-spec">
    <label for='list-color'>
        Color
    </label>
    {{#if colors}}
    <ul>
        {{#each colors}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>